{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}

    <h1>Posts</h1>
    <p>
        <a href="{{ path('post_create') }}" class="btn btn-primary">Create</a>
    </p>
    <div class="box">
    {% for post in posts %}
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
                <td><a href="{{ path('post_edit', {'id': post.id }) }}" class="btn btn-primary">Edit</a></td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
    </div>
{% endblock %}
